VITE_RELAY_ADDRESS='/dns4/10-10-10-100.k51qzi5uqu5dlg6rzzu1wamxpip5om9vddzw5dvmw38wp1f4b30yi0q4it1234.libp2p.direct/tcp/41338/wss/p2p/12D3KooWQ3E3PsbrVnnh34dSggrcTqBKqrA2bbMwTH9EHmea1234'
VITE_EXCHANGE_ADDRESS='https://exchange.example.com'
VITE_TURN_SERVER='turn:turn.example.com:3478'
VITE_TURN_USERNAME='admin'
VITE_TURN_CREDENTIAL='password'
